* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: "Inter", sans-serif;

}


/* === nav bar on === */

nav {

    height: 98px;
    width: auto;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 23.5px 115.5px;

}

ul {

    display: flex;

    gap: 30px;

}

ul li {

    list-style: none;

}

ul li a {

    text-decoration: none;

    font-size: 16px;
    font-weight: 500;

    color: #575757;

}

.btn {

    width: 188px;
    height: 48px;

    padding: 12px;

    font-size: 16px;
    font-weight: 700;

    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    color: #FFFFFF;

    transition: 0.5s;
}

.btn:hover {

    box-shadow: 0 0 100px #1D4ED8;

}

/* === nav bar end === */

/* === hero section === */

.hero {

    background: 
    linear-gradient(to right, #00000099 0%, #00000000 60%),
    linear-gradient(225deg, #00000000 0%, #000000E0 88%),
    url(./image/banner.jpg);

    

    height: 91vh;
    width: auto;

    

    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;

}

.hero_text {

text-align: center;

padding: 150px;

}

.hero_text h1 {

    font-size: 80px;
    font-weight: 700;

    color: #FFFFFF;

    
    margin-bottom: 16px;

}

.hero_text p {

    width: 829px;
    margin: auto;


    font-size: 22px;
    font-weight: 400;

    line-height: 28px;

    color: #FFFFFF;

    
}

.button2 {

    text-align: center;

    padding-top: 200px;

}

.bbtn {

    width: 284px;
    height: 74px;

    padding: 12px;

    font-size: 22px;
    font-weight: 700;
}

/* === hero section end === */

/* === page 1 on === */

.page1 {

    max-width: 1440px;
    height: 1279px;
    margin: auto;

    padding: 80px 60px;

    
}

.page1_text h1 {

    font-size: 56px;
    font-weight: 700;

    text-align: center;

    color: #000102;

    margin-bottom: 56px;

}

.page_one_card {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 34px;
}

.card_one_pageone {

    border: 1px solid #E5E7EB;

    border-radius: 12px;

}

.page_one_card {


}



.page_one_card img {

    border-radius: 12px;
    margin-bottom: 24px;
}

.page_one_card .pp {

    font-size: 12px;

    font-weight: 600;

    letter-spacing: 0.3px;

    color: #2563EB;

    padding: 0 24px;

    margin-bottom: 8px;
}

.page_one_card h3 {

    font-size: 20px;
    font-weight: 700;

    color: #0D1B2A;

    padding: 0 24px;

    margin-bottom: 8px;

}

.page_one_card p {

    font-size: 14px;
    font-weight: 400;

    color: #575757;

    padding: 0 24px;

    margin-bottom: 24px;

}


/* === page 1 end === */

/* === page 2 on === */

.card_pagetoo {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: space-around;
    align-items: center;

    gap: 20px;

    padding: 0 60px;

}

.page2 {

    max-width: 1440px;
    margin: 0 auto;

    padding: 0 80px 60px 80px;

}

.page2_text {

    text-align: center;

}

.page2_text h1 {

    font-size: 48px;
    font-weight: 700;

    color: #0D1B2A;
    line-height: 60px;

    margin-bottom: 12px;
}

.page2_text p {

    font-size: 16px;
    font-weight: 400;

    color: #575757;

    line-height: 24px;

    margin-bottom: 60px;
}

.card_pagetoo_one {

    max-width: 370.65625px;

    padding: 32px;

    gap: 20px;

    border: 1px solid #E5E7EB;

    border-radius: 12px;

}

.card_pagetoo_one .p {

    font-size: 13px;
    font-weight: 600;

    text-transform: uppercase;
    line-height: 19.5px;
    letter-spacing: 0.32px;

    color: #888888;

    margin-bottom: 8px;
}

.card_pagetoo_one h2 {

    font-size: 44px;
    font-weight: 700;

    color: #0D1B2A;

    margin-bottom: 4px;
}

.card_pagetoo_one .p_one {

    font-size: 13px;
    font-weight: 400;

    line-height: 19.5px;

    color: #888888;

    margin-bottom: 20px;
}

.button_line {

    border-bottom: 1px solid #E5E7EB;

    margin-bottom: 20px;

}

.card_pagetoo_one p {

    font-size: 14px;
    font-weight: 400;

    line-height: 21px;

    color: #333333;

    margin-bottom: 10px;
}

.card_pagetoo_one p span {

    font-size: 14px;
    font-weight: 700;

    line-height: 21px;

    color: #2563EB;

    margin-bottom: 15px;
}

.card_pagetoo_one .p_too {

    margin-bottom: 20px;

}
.btt {

    width: 304.65625px;
    height: 45px;

    border: 1px solid #2563EB;

    border-radius: 8px;

    background-color: #FFFFFF;

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    color: #2563EB;

    cursor: pointer;

    transition: 0.5s;

}

.btt:hover {

    background-color: #2563EB;

    color: #FFFFFF;

    box-shadow: 0 0 15px #888888;

}

.card_too_work {

    background-color: #0D1B2A;

}

.card_too_work .p {

    color: #93C5FD;

}

.card_too_work h2 {

    color: #FFFFFF;

}
.card_too_work p {

    color: #FFFFFFCC;

}

.bttt {

    background-color: #2563EB;

    color: #FFFFFF;

}

.bttt:hover {

    box-shadow: 0 0 10px black;

}

.card_too_work .line_btt {

    border: 1px solid #FFFFFF1A;

}

.bntt {

    color: #0D1B2A;

    border: 1px solid #0D1B2A;

}

.bntt:hover {

    background-color: #FFFFFF;

    color: #0D1B2A;

    
}

/* === page 2 end === */

/* === page 3 on === */

.page3 {

    max-width: 1480px;

    margin: 0 auto;

    margin-top: 30px;
    margin-bottom: 80px;
}

.ai_development{
    position: relative;
}

.ai_development video{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    border-radius: 16px;

    position: relative;
    z-index: 1;
}

.overlab{
    position: absolute;
    inset: 0;

    border-radius: 16px;

    background:
        linear-gradient(to right, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 60%),
        linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 88%);

    z-index: 2;

    pointer-events: none;
}

.ai_development_text {

    position: absolute;

    text-align: center;

    left: 80px;

    bottom: 160px;

    z-index: 3;

}


.p_ringe .p_pp {

    display: inline-block;

    padding: 10px 24px;

    border: 1px solid #1D4ED8;

    border-radius: 30px;

    font-size: 14px;
    font-weight: 800;

    color: #93C5FD;

    letter-spacing: 2px;

    margin-bottom: 12px;
}

.ai_development_text h1 {

    max-width: 600px;

    font-size: 80px;
    font-weight: 700;

    line-height: 120%;

    color: #FFFFFF;


    margin-bottom: 12px;

}

.ai_development_text p {

    max-width: 600px;
    font-size: 16px;
    font-weight: 400;

    line-height: 150%;

    color: #888888;

    margin-bottom: 48px;
}

.but {

    font-size: 16px;

    font-weight: 700;
    padding: 18px 24px;

    border: none;

    border-radius: 12px;

    background-color: #1D4ED8;

    color: #FFFFFF;

    cursor: pointer;

    transition: 0.5s;
}

.but:hover {

    box-shadow: 0 0 100px #2563EB;

}
