* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: "Inter", sans-serif;

}


/* === nav bar on === */

nav {

    height: 98px;
    width: auto;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 23.5px 115.5px;

}

ul {

    display: flex;

    gap: 30px;

}

ul li {

    list-style: none;

}

ul li a {

    text-decoration: none;

    font-size: 16px;
    font-weight: 500;

    color: #575757;

}

.btn {

    width: 188px;
    height: 48px;

    padding: 12px;

    font-size: 16px;
    font-weight: 700;

    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    color: #FFFFFF;

    transition: 0.5s;
}

.btn:hover {

    box-shadow: 0 0 100px #1D4ED8;

}

/* === nav bar end === */

/* === hero section === */

.hero {

    background: 
    linear-gradient(to right, #00000099 0%, #00000000 60%),
    linear-gradient(225deg, #00000000 0%, #000000E0 88%),
    url(./image/banner.jpg);

    

    height: 91vh;
    width: auto;

    

    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;

}

.hero_text {

text-align: center;

padding: 150px;

}

.hero_text h1 {

    font-size: 80px;
    font-weight: 700;

    color: #FFFFFF;

    
    margin-bottom: 16px;

}

.hero_text p {

    width: 829px;
    margin: auto;


    font-size: 22px;
    font-weight: 400;

    line-height: 28px;

    color: #FFFFFF;

    
}

.button2 {

    text-align: center;

    padding-top: 200px;

}

.bbtn {

    width: 284px;
    height: 74px;

    padding: 12px;

    font-size: 22px;
    font-weight: 700;
}

/* === hero section end === */

/* === page 1 on === */

.page1 {

    max-width: 1440px;
    height: 1279px;
    margin: auto;

    padding: 80px 60px;

    
}

.page1_text h1 {

    font-size: 56px;
    font-weight: 700;

    text-align: center;

    color: #000102;

    margin-bottom: 56px;

}

.page_one_card {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 34px;
}

.card_one_pageone {

    border: 1px solid #E5E7EB;

    border-radius: 12px;

}

.page_one_card {


}



.page_one_card img {

    border-radius: 12px;
    margin-bottom: 24px;
}

.page_one_card .pp {

    font-size: 12px;

    font-weight: 600;

    letter-spacing: 0.3px;

    color: #2563EB;

    padding: 0 24px;

    margin-bottom: 8px;
}

.page_one_card h3 {

    font-size: 20px;
    font-weight: 700;

    color: #0D1B2A;

    padding: 0 24px;

    margin-bottom: 8px;

}

.page_one_card p {

    font-size: 14px;
    font-weight: 400;

    color: #575757;

    padding: 0 24px;

    margin-bottom: 24px;

}


/* === page 1 end === */

/* === page 2 on === */
